project:
  type: website
  output-dir: docs

website:
  title: "Clinical Trial Watch"
  navbar:
    left:
      - href: index.qmd
        text: Home
      - href: full_data.qmd
        text: Full Data
      - href: history.qmd
        text: History
      - about.qmd

format:
  html:
    theme:
      - cosmo
      - brand
    css: styles.css
    toc: true

execute:
  freeze: auto

